language: python

matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
    - python: 3.8
      dist: xenial
      sudo: true

install:
  - pip install virtualenv tox-travis coveralls

script:
  - tox

after_success:
  - coveralls
